<ion-header>
    <ion-navbar color='danger'>
      <ion-title>{{ listName | placeholder:'Nueva lista' }}</ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content padding>

        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-label floating>Nombre de la lista</ion-label>
                    <ion-input type="text" [(ngModel)]="listName"  name="listName"></ion-input>
                </ion-item>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-label floating>Item:</ion-label>
                    <ion-input (keyup.enter)="addList()" [(ngModel)]="itemName" name="itemName" type="text"></ion-input>
                </ion-item>
                <button ion-button color="danger" class="button-block" (click)="addList()">Más</button>
            </ion-card-content>
        </ion-card>
        <!-- List of items -->
        <ion-card *ngIf="items.length > 0">
            <ion-card-header>
                 <h3>Item agregados</h3>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let item of items; let i = index" >
                        <button ion-button color="dark" clear>
                            {{ item.nombre }}
                        </button>

                        <button (click)="deleteItem(i)" 
                            ion-button outline item-right color="success" clear>
                            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                                Borrar item ({{ i }})
                        </button>
                    </ion-item>
                </ion-list>
            </ion-card-content>
            
        </ion-card>

        <button ion-button icon-left class="button-block" color="danger">
            <ion-icon ios="ios-add-circle" md="md-add-circle"> </ion-icon>
             Agregar lista
        </button>
    
  </ion-content>